<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="../static/images/style.css">
    </head>
    <body>
      <header class="w3-container w3-theme" id="myheader" style="text-align: center;padding: 1%;background-color: rgb(10,20,30);">
        <div class="header">
          <div class="container">
              <div class="row" style="height: 0px;">
                  <div class="col-md-12 bg-dark " style="margin-left: 570px;">
                      <!-- <div>
                        <img src="{{url_for('static',filename='/images/logo.jpg')}}" alt="LOGO">
                      </div> -->
                      <button type="button" >HOME</button>
                      <button type="button" >MENU</button>
                      <button type="button" >ABOUT US</button>
                      <button type="button" >GALLERY</button>
                  </div>
                  <h3 style="text-align: 0px;color:azure ;font-weight: bold; position: relative; top: -24px;">MSR CATERING AND COOKING SERVICES</h3>

              </div>
          </div>
        </div>
      </header>
      <div class="bg-image bg-img p-5 text-center shadow-1-strong rounded mb-5 text-white "  >
        <!-- <a> -->
          <!-- <img src="{{url_for('static',filename='/images/food_temp_2.avif')}}" alt="Food" style="width:100%; height: 78%; opacity: 0.5; " class="img"> -->
          <!-- <img src="{{url_for('static',filename='/images/logo.jpg')}}" alt="LOGO" class="carousel-caption" style="padding-bottom: 370px"> -->
          <div class="center bg-image-text " >
            <h1 >Have a Function? We've got the catering</h1>
            <h4>Bringing high quality food and service to your event What are you waiting for??</h4>
            <button type="button" class="bg-button" >Enquire Now</button>
            <div >
              @copyright.....
            </div>
          </div>
        <!-- </a> -->
        
      </div>
    </body>
</html>